# Contract
CONTRACT_ADDRESS=0x64ca2870ded6bc21e9d6ffb5e753cc0e5cd9aa5e
RPC_URL=https://services.polkadothub-rpc.com/testnet
CALLER_ADDRESS=
# Wallet
WALLET_NAME=
WALLET_PASSWORD=

# IPFS
IPFS_API=

# AI
OPENAI_API_KEY=
