# Contract
CONTRACT_ADDRESS=0xf572b1098c3e8ca459ecefaccfd6978f85b0fd3a
RPC_URL=https://services.polkadothub-rpc.com/testnet
CALLER_ADDRESS=
# Wallet
WALLET_NAME=
WALLET_PASSWORD=

# IPFS
IPFS_API=

# AI
OPENAI_API_KEY=
