# Contract
CONTRACT_ADDRESS=0x5a34a12dd68cc6c56565f87f10c3173e808ee8be
RPC_URL=https://services.polkadothub-rpc.com/testnet
CALLER_ADDRESS=
# Wallet
WALLET_NAME=
WALLET_PASSWORD=

# IPFS
IPFS_API=

# AI
OPENAI_API_KEY=
